<dom-module>
    <style type="text/css">
        :host {
            display: block;
            color: black;
        }

        .hint>.text {
            color: red;
        }

        .text+.text {
            color:blue;
        }

        @keyframes bounceIn {
            0% {
                color: red;
            }
            100% {
                color: blue;
            }
        }

        @media screen and (max-width: 600px) {
            .hint {
                background: black;
            }
        }
    </style>

    <template>
        <div class="hint">
            <div class="text" data-name="{{name}}">{{name}}</div>
            <div class="text">{{name}}</div>
            <content select=".page"></content>
            <content select="div"></content>
            <content></content>
        </div>
    </template>

    <script type="text/nova-javascript">
        window.MyEle = Nova({
            is: 'my-button',
            props: {
                name: {
                    type: String,
                    value: 'defaultValue',
                    merge: true,
                    observer: '_nameChanged'
                },
                info: {
                    type: Object,
                    value: function() {
                        return {a:1};
                    }
                },
                date: {
                    type: Date
                },
                canSwim: {
                     type: Boolean
                 }
            },
            createdHandler: function() {
            },
            attachedHandler: function() {
                //alert('attached');
            },
            _nameChanged: function(ev, oldVal, newVal) {
                console.log('name change from ' + oldVal + ' to ' + newVal);
            },
            say: function() {
                alert('hi');
            }
    });
    </script>
</dom-module>
