body {
    background: #f9f9f9;
}

.main {
    overflow: hidden;
    min-height: calc(100% - 180px);
    padding: 34px 0;
    box-sizing: border-box;
}

/* aside */
aside {
    width: 260px;
    box-sizing: border-box;
    padding-right: 40px;
    float: left;
}

aside h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding-left: 34px;
}

.directory-list[data-level="1"] {
    margin-top: -20px;
}

.directory-list[data-level="1"] > li {
    padding: 10px 0;
}

.directory-list[data-level="1"] > li + li {
    border-top: 1px solid #dde5ec;
}

.directory-list[data-level="2"] > li {
    line-height: 32px;
    padding-left: 34px;
}

.directory-list[data-level="2"] > li.selected {
    background: #dde5ec;
}

.directory-list[data-level="2"] > li.selected a {
    color: #773ded;
}

/* main */
main {
    overflow: hidden;
    padding: 0 40px;
    border-left: 1px solid #dde5ec;
}

.markdown-body ul li {
    list-style: disc;
}

.markdown-body ol li {
    list-style: decimal;
}

.markdown-body .btn-primary {
    border: none;
    background: #773ded;
    color: white;
}

.markdown-body .btn-primary:hover {
    text-decoration: none;
    background: #5E32BD;
}
