<template is="dom-module">
    <script require-src="components/nova-markdown/markdown.min"></script>
    <script>
        var NovaMarkdown = Nova({
            is: 'nova-markdown',
            props: {
                content: String
            },
            createdHandler: function() {
                this.on('_contentChanged', this.contentChanged);
                this.content = this.innerHTML;
            },
            contentChanged: function() {
                this.innerHTML = markdown.toHTML(this.content);
            }
        });
        return NovaMarkdown;
    </script>
    </template>
</template>
