<template is="dom-module">
    <style type="text/css">
    </style>
    <template>
        <span>Writer: {{writer}}</span>
    </template>
    <script type="text/nova-javascript">
        var MyWrap = Nova({
            is: 'my-inner',
            props: {
                writer: {
                    type: String,
                    value: 'sdfsd'
                }
            },
            createdHandler: function() {
            },
            attributeChangedHandler: function() {
            }
        });
    </script>
</template>
