<dom-module>
    <style type="text/css">
        :host {
            //display: none;
        }

        ul,
        div {
            display: block;
        }
    </style>
    <template>
        <ul>
        <template is="template-repeat" items="{{data}}" id="outer">
            <li>My name is <span>{{item.name}}</span>
                <div>
                    {{writer}}
                </div>

                <p>
                    I Love
                    <div>
                        <template is="template-repeat" items="{{item.food}}" id="inner" as="food" index-as="j">
                            <div>{{index}}</div>
                            <span>{{j + 1 + '.'}}</span>
                            <span>{{food}}</span>
                        </template>
                    </div>
                </p>
                <p>
                    <input type="text" value="{{item.nickName::input}}">
                </p>

            </li>
            <div>
            <template-if if="{{item.option == 4}}">
                you choose 4
            </template-if>
            </div>
            <select class="select" value="{{item.option::change}}"> </select>
            <template is="template-repeat" parent-selector=".select" items="{{item.options}}">
                <option value="{{item}}">{{item}}</option>
            </template>

            <p>
                My nick name is {{item.nickName}}
            </p>
            <!--
            -->
            <li>{{item.name}}</li>
            {{writer}}


        </template>
        </ul>


        
    </template>
    <script type="text/nova-javascript">
        var MyWrap = Nova({
            is: 'my-wrap',
            props: {
                warning:  {
                    type: Object,
                    value: {
                        msg: 'hey'
                    }
                },
                writer: {
                    type: String,
                    value: 'Melon.H'
                },
                data: {
                    type: Array,
                    value: [
                    {
                        name:'gua', 
                        nickName: 'pig',
                        food: ['fish', 'pig', 'cow'],
                        option: 2,
                        options: [1, 2, 4]
                    }
                        /*
                        {name:'pao'},
                        {name:'ting'}
                        */
                    ]
                },
isGirl: {
type: Boolean,
value: true
},
age: {
         type:Number,
              value: 10
     }
            },
            createdHandler: function() {
                                //alert();
            }
        });
    </script>
</dom-module>
