<template is="dom-module">
    <template>
        <p>Welcome</p>
        <p>-------start--------</p>
        <template-if if="{{gender == 'female'}}">
            I'm a girl, {{gender}}
        </template-if>
        <p>---------------</p>
        <template-if if="{{gender == 'male'}}">
            I'm a boy, {{gender}}
        </template-if>
        <p>-------end--------</p>
    </template>
    <script>
        Nova({
            is: 'test-if',
            props: {
                gender: {
                    type: String,
                    value: 'female'
                }
            },
            createdHandler: function() {
            }
        });
    </script>
</template>
