<template is="dom-module">
    <style>
        /* Scoped CSS */
        :host {display:block;padding:15px 20px;border:1px solid rgba(16,16,16,0.1);background:white;}
        h3 {font-size:24px;line-height:40px;margin:0;}
        form button {}
        p {margin:10px 0;}
        ul {margin: 20px 0;list-style-type: square;padding-left:0;}
        ul li {margin-left:20px;height:20px;}
        ul li p {display: inline-block;vertical-align:middle;margin:0;}
        .todo-done { text-decoration: line-through; }
    </style>
    <template>
        <h3>TODO</h3>
        <div>
            <form on-submit="{{addTodo}}">
                <input type="text" value="{{todoText::change}}"/>
                <button>Submit</button>
            </form>
            <ul>
                <template class="template-repeat" on-item-changed="{{changeTodoStatus}}" is="template-repeat" items="{{todos}}">
                <li>
                    <p class_="todo-{{item.done ? 'done' : 'undone'}}">{{item.text}}</p>
                    <input type="checkbox" checked="{{item.done::change}}"/>
                </li>
                </template>
            </ul>
            <p>{{remaining}} of {{todos.length}} items left.</p>
        </div>
    </template>
    <script exports="Nova.Components.TodoList">
        'use strict';
        let TodoList = Nova({
            is: 'todo-list',
            props: {
                todos: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },
                remaining: {
                    type: Number,
                    value: 0
                },
                todoText: {
                    type: String,
                    value: ''
                }
            },
            createdHandler: function() { },
            addTodo: function(e) {
                e.preventDefault();
                this.todos = this.todos.concat({
                    text: this.todoText
                });
                this.todoText = '';
            },
            changeTodoStatus: function() {
                let remaining = 0;
                this.todos.forEach(function(todo) {
                    if(!todo.done) {
                        remaining++;
                    }
                });
                this.remaining = remaining;
            }
        });
        return TodoList;
    </script>
</template>
