<template is="dom-module">

    <style>
        textarea {
            width: 100%;
            height: 100px;
        }
    </style>
    <template>
        <textarea>#Welcome</textarea>
        <nova-markdown></nova-markdown>
    </template>
    <link rel="import" href="/nova/components/nova-markdown/main.html" require-src="components/nova-markdown/main">
    <script exports="Nova.Components.NovaMarkdownEditor">
        var NovaMarkdownEditor = Nova({
            is: 'nova-markdown-editor',
            createdHandler: function() {
                var textarea = this.querySelector('textarea');
                var markdown = this.querySelector('nova-markdown');
                textarea.addEventListener('input', function() {
                    markdown.content = textarea.value;
                });
                Nova.ready(markdown, function() {
                    markdown.content = textarea.value.trim();
                });
            }
        });
        return NovaMarkdownEditor;
    </script>
</template>
